Flask>=2.3.3
mistralai==1.5.1
Werkzeug>=2.3.7
python-dotenv>=1.0.0
requests>=2.31.0



# import sys
# import os
# import logging

# logging.basicConfig(level=logging.DEBUG)
# logger = logging.getLogger(__name__)

# logger.debug(f"Python path: {sys.path}")

# path = '/home/mikeisfree/ocr'
# if path not in sys.path:
#     sys.path.insert(0, path)
#     logger.debug(f"Added {path} to Python path")

# os.environ['MISTRAL_API_KEY'] = 'jnAiZ0lFIGihGjXgc1JfpboolrkDROxU'

# logger.debug(f"Contents of {path}: {os.listdir(path)}")

# try:
#     from app_new import app as application
#     logger.debug("Successfully imported app")
# except Exception as e:
#     logger.error(f"Failed to import app: {str(e)}")
#     raise